[submodule "vim"]
	path = vim
	url = git@github.com:0xStabby/vim.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:0xStabby/tmux.git
[submodule "bash"]
	path = bash
	url = git@github.com:0xStabby/bash.git
[submodule "i3"]
	path = i3
	url = git@github.com:0xStabby/i3.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:0xStabby/rofi.git
